body {
	color: #8f8f8f;
	font: 12px sans-serif;
	background-color: #f8f8f8;
	border-top: 5px solid #7e7e7e;
	max-width: 1600px;
	margin: 0 auto;
}
.header {
	margin-top:200px;
	
}
	
.dws-menu * {
	margin: 0;
	padding:0;
	
}
.dws-menu ul,
.dws-menu ol{
	list-style:none;
}
.dws-menu > ul{
	display:flex;
	justify-content: center;
	
}
.dws-menu > ul li a{
	display: block;
	background: #ececed;
	padding: 15px 30px 15px 40px;
	font-size: 14px;
	color: #454547;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.dws-menu > ul li{
	position: relative;
	
}
.dws-menu > ul li > a i.fa{
	position:absolute;
	top:15px;
	left:12px;
	font-size: 18px;	
	
}
.dws-menu > ul li:first-child{
	border-left: 1px solid #b2b3b5;
}
.dws-menu > ul li:last-child{
	border-right: 1px solid #babbbb;
}
.dws-menu li a:hover{
	background: #454547;
	color:#ffffff;
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.3s ease
}
.dws-menu li ul{
	position: absolute;
    min-width: 150px;
	display: none;
}
.dws-menu li > ul li{
	border: 1px solid #c7c8ca;
}
.dws-menu li > ul li a{
	padding: 10px;
	text-transform: none;
	background: #e4e4e5;

}
.dws-menu: li > ul li ul{
	position: absolute;
	right: -150px;
	top: o;
}
.dws-menu li :hover > ul{
	display: block;
}

p {
	margin: 20px 0;
}